/* reseteo html */
* {
  padding: 0;
  margin: 0;
}
/* fuentes */
@font-face {
  font-family: "gilroy-regular";
  src: url("gilroy-regular-webfont.woff2") format("woff2"),
    url("gilroy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-medium";
  src: url("gilroy-medium-webfont.woff2") format("woff2"),
    url("gilroy-medium-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-semibold";
  src: url("gilroy-semibold-webfont.woff2") format("woff2"),
    url("gilroy-semibold-webfont.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-bold";
  src: url("gilroy-bold-webfont.woff2") format("woff2"),
    url("gilroy-bold-webfont.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}

/* fuentes */
