* {
  padding: 0;
  margin: 0;
}
/* fuentes */
@font-face {
  font-family: "gilroy-regular";
  src: url("../font/gilroy-regular-webfont.woff2") format("woff2"),
    url("../font/gilroy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-medium";
  src: url("../font/gilroy-medium-webfont.woff2") format("woff2"),
    url("../font/gilroy-medium-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-semibold";
  src: url("../font/gilroy-semibold-webfont.woff2") format("woff2"),
    url("../font/gilroy-semibold-webfont.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-bold";
  src: url("../font/gilroy-bold-webfont.woff2") format("woff2"),
    url("../font/gilroy-bold-webfont.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
}

/* fuentes */
/*BOTTON CON HOVER*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  position: relative;
  text-align: center;
  z-index: 3;
}

.btn-hover {
  font-family: "gilroy-bold", sans-serif;
  width: 320px;
  height: 91px !important;
  font-size: 36px;
  font-weight: normal;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  /* moz-transition: all 0.4s ease-in-out; */
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-2 {
  background-image: linear-gradient(to right, #e91e63, #df316b, #fc6b5f);
}

/* FIN BOTTON CON HOVER*/

@media (min-width: 320px) and (max-width: 992px) {
  /* INICIO NAVBAR */
  .bg-menu {
    background-color: #4a148c;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

  .botonmenu {
    color: white !important;
    border-radius: 4px;
    height: 39px;
    font-size: 18px;
    /* padding: 10px; */
    border-color: #4a148c !important;
  }

  .botonmenu:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .lineasboton {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }

  .nav-link-bg-color {
    background-color: #e62b75;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .nav-link-color-letra {
    color: white !important;
    font-size: 16px;
    width: 115px;
    text-align: center;
    margin: 0px;
  }

  .nav-link-color-letra-contacto {
    color: white !important;
    font-size: 16px;
    width: 120px;
    text-align: center;
    border: 1px solid #e62b75 !important;
  }

  .nav-link-color-letra-contacto:hover {
    background-color: rgb(255, 255, 255);
    color: #e62b75 !important;
  }

  /*  FIN NAVBAR */
}

@media (min-width: 992px) {
  header {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 992px) {
  .waveWrapper {
    display: none !important;
  }
}
/* SECCION HEADER */
/* HEADER CON EFECTO AGUA*/
@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.waveWrapper {
  display: inline-block;
  overflow: hidden;
  position: relative !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-image: url(../img/icons/background-header.jpg);
  background-size: cover;
  width: 100%;
  height: 932px;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 932px !important;
  bottom: -1px;
  background-size: auto;
}
.bgTop {
  z-index: 6;
  opacity: 1;
}
.bgMiddle {
  z-index: 6;
  opacity: 1;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 15s linear infinite;
}

/*  FIN HEADER CON EFECTO AGUA*/

.imagen-flotante-header {
  position: absolute;
  width: 700px;
  height: 700px;
  left: -210px;
  top: 370px;
  z-index: 1 !important;
}
.primera-seccion-contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 6;
  color: white;
  margin: 10% 0%;
}

.titulo-principal-header {
  font-family: "gilroy-bold";
  width: 800px;
  text-align: center;
  font-size: 64px;
  margin-bottom: 40px;
}
.subtitulo-principal-header {
  font-family: "gilroy-medium";
  font-size: 24px;
  margin-bottom: 100px;
}
.section-2 {
  height: 600px;
  position: absolute;
  z-index: 8;
}

.logo-krak {
  z-index: 100;
  margin: 0% 50px;
  width: 220px;
  height: 190px;
  position: relative;
}

.logo-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 200px;
}

/*   FIN SECCION HEADER */

/* INICIO MENU */
@media (min-width: 320px) and (max-width: 992px) {
  .bg-menu {
    background-color: #4a148c;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

  .botonmenu {
    color: white !important;
    border-radius: 4px;
    height: 39px;
    font-size: 18px;
    /* padding: 10px; */
    border-color: #4a148c !important;
  }

  .botonmenu:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .lineasboton {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }

  .nav-link-bg-color {
    background-color: #e62b75;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .nav-link-color-letra {
    color: white !important;
    font-size: 16px;
    width: 115px;
    text-align: center;
    margin: 0px;
  }

  .nav-link-color-letra-contacto {
    color: white !important;
    font-size: 16px;
    width: 120px;
    text-align: center;
    border: 1px solid #e62b75 !important;
  }

  .nav-link-color-letra-contacto:hover {
    background-color: rgb(255, 255, 255);
    color: #e62b75 !important;
  }
}

@media (min-width: 992px) {
  .header-mobile {
    display: none;
  }
}
/* FIN MENU */

/* INICIO SECCION RENDER Y PARRAFOS */

@media (min-width: 320px) and (max-width: 992px) {
  .subtitulo-principal {
    font-family: gilroy-bold;
    font-size: 25px;
    background: linear-gradient(to right, #7c1dc9, #e91e63, #fc6b5f);
    -webkit-text-fill-color: transparent;
  }
  .centrado-seccion {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .subtitulo-1 {
    color: #4a148c;
    font-size: 30px;
    font-family: gilroy-bold;
  }
  .texto-renders {
    text-align: center;
  }
  .ancho-parrafo {
    font-size: 18px;
    font-family: gilroy-regular;
  }
}

@media (min-width: 992px) {
  .subtitulo-principal {
    font-family: gilroy-bold;
    font-size: 48px;
    background: linear-gradient(to right, #7c1dc9, #e91e63, #fc6b5f);
    -webkit-text-fill-color: transparent;
  }
  .centrado-seccion {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .subtitulo-1 {
    color: #4a148c;
    font-size: 60px;
    font-family: gilroy-bold;
  }
  .texto-renders {
    text-align: left;
  }

  .ancho-parrafo {
    font-size: 18px;
    font-family: gilroy-regular;
  }
}
/* FIN SECCION RENDER Y PARRAFOS */

/* INICIO SECCION PLANES PERSONALIZADOS */

@media (min-width: 320px) and (max-width: 992px) {
  .borde-cards-planes {
    border: 4px solid #4a148c;
    border-radius: 20px;
    margin: 15px;
    width: 400px !important;
  }

  .subtitulo-planes {
    color: #4a148c;
    font-family: gilroy-bold;
    font-size: 60px;
    text-align: center;
  }

  .subtitulo-h3 {
    color: #e91e63;
    font-size: 48px;
  }

  .parrafo-planes {
    font-size: 24px;
    text-align: center;
    color: #4a148c;
  }

  .boton-planes {
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }

  .btn-planes {
    font-family: "gilroy-bold", sans-serif;
    width: 250px;
    height: 70px !important;
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .btn-planes:hover {
    background-position: 100% 0;
    /* moz-transition: all 0.4s ease-in-out; */
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .btn-planes:focus {
    outline: none;
  }

  .btn-planes.color-2 {
    background-image: linear-gradient(to right, #e91e63, #df316b, #fc6b5f);
  }
}

@media (min-width: 992px) {
  .borde-cards-planes {
    border: 4px solid #4a148c;
    border-radius: 20px;
    margin: 15px;
    width: 400px !important;
  }

  .subtitulo-planes {
    color: #4a148c;
    font-family: gilroy-bold;
    font-size: 60px;
  }

  .subtitulo-h3 {
    color: #e91e63;
    font-size: 48px;
  }

  .parrafo-planes {
    font-size: 24px;
    text-align: center;
    color: #4a148c;
  }

  .boton-planes {
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }

  .btn-planes {
    font-family: "gilroy-bold", sans-serif;
    width: 250px;
    height: 70px !important;
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .btn-planes:hover {
    background-position: 100% 0;
    /* moz-transition: all 0.4s ease-in-out; */
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .btn-planes:focus {
    outline: none;
  }

  .btn-planes.color-2 {
    background-image: linear-gradient(to right, #e91e63, #df316b, #fc6b5f);
  }

  .margen-boton {
    margin-top: 88px !important;
  }
}
/* FIN SECCION PLANES PERSONALIZADOS */
